# Xcode build products and derived data
SpeederProto/build/
SpeederProto/build-ios/
SpeederProto/build-device/
**/xcuserdata/
**/*.xcuserstate
.DS_Store
SpeederProto/Captures/**/log.txt
SpeederProto/build-sim/
